  /* /body::before {
    display: block;
    content: '';
    height: 60px;
}

@media screen and (max-width: 576px) {
    .navbar-brand {
        margin: 0 auto;
    }
  }
  

 .dropdown-menu {
    border-radius: 0;
    border: none;
    padding: .5em;
    text-align: center;
  }
  /* 

  .dropdown-menu ul {
    list-style: none;
    padding: 0;
  }

  .dropdown-menu.show {
    display: flex;
  }

 .dropdown-menu li a {
    color: grey;
    padding: .5em 1em;
  } 


 .dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.2em;
    color: black;
  } */

  /*@media screen and (min-width: 993px){
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
    .dropdown-menu.show {
        display: flex;
      }
  }
  

  @media screen and (max-width: 993px){
    .dropdown-menu.show {
        max-height: 60vh;
        overflow-y: scroll;
    }
  }

  .dropdown-menu {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
  }*/


.font_EN {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #1C4F59;
}

.English_Courses_title {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #1C4F59;
}

.English_Courses_sub_title {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #1C4F59;
} 

.font_EN_menu {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: #1C4F59;
}

.menu_EN {
  text-align: center;
}



.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}

