/*/body::before {
    display: block;
    content: '';
    height: 60px;
}

@media screen and (max-width: 576px) {
    .navbar-brand {
        margin: 0 auto;
    }
  }
  */

 /*.dropdown-menu {
    border-radius: 0;
    border: none;
    padding: .5em;
    text-align: center;
  }

  /*.dropdown-menu ul {
    list-style: none;
    padding: 0;
  }*/

  /*.dropdown-menu.show {
    display: flex;
  }*/

 /*.dropdown-menu li a {
    color: grey;
    padding: .5em 1em;
  }*/

 /* .dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.2em;
    color: black;
  }

  @media screen and (min-width: 993px){
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
    .dropdown-menu.show {
        display: flex;
      }
  }

  @media screen and (max-width: 993px){
    .dropdown-menu.show {
        max-height: 60vh;
        overflow-y: scroll;
    }
  }

  /*.dropdown-menu {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
  }*/


.font_EN {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #1C4F59;
}

.English_Courses {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #1C4F59;
}
  


