<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Ensure that index.php is used as the default directory index
DirectoryIndex index.php

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Redirect requests to non-existent files or directories to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
</IfModule>

# Prepend config.php to every PHP file
php_value auto_prepend_file "/home/u152002334/domains/englishreservoir.co.uk/public_html/config.php" 